<!DOCTYPE html>
<html lang="ja">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">


  <title>Ryoichi's Portofolio</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <!-- Custom styles for this template -->
  <link href="css/grayscale.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="css/slick-theme.css"/>
  <link rel="stylesheet" type="text/css" href="css/slick.css"/>

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">Welcome!!</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#projects">Dog / Bike</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#skill">Skills</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#signup">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Header -->
  <header class="masthead">
    <div class="container d-flex h-100 align-items-center">
      <div class="mx-auto text-center">
        <h1 class="mx-auto my-0 text-uppercase">My<br>Portofolio</h1><br><br>
        <h2 class="text-white-50 mx-auto mt-2 mb-5">Thank you for coming to my portfolio!<br>I am glad to meet you!</h2>
        <a href="#about" class="btn btn-primary js-scroll-trigger">Get Started</a>
      </div>
    </div>
  </header>

  <!-- About Section -->
  <section id="about" class="about-section text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2 class="text-white mb-4">Profile</h2>
          <p class="text-white-50">藤澤諒一<br><br>1999年2月6日生まれ、21歳<br><br>神戸大学<br>
            <a href="http://startbootstrap.com/template-overviews/grayscale/"></a></p>
        </div>
      </div>
      <img src="img/3ec9bcdb9fd5a158f1e2fd13b2987c03_t.jpeg" class="img-fluid" alt="">
    </div>
  </section>

  <!-- Projects Section -->
  <section id="projects" class="projects-section bg-light">
    <div class="container">

      <!-- Featured Project Row -->
      
      <!-- Project One Row -->
      <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
        <div class="col-lg-6">
          <img class="bike img-fluid" src="img/image1-1 (1).jpeg" alt="">
        </div>
        <div class="col-lg-6">
          <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
              <div class="project-text w-100 my-auto text-center text-lg-left">
                <h4 class="text-white">My dog</h4>
                <p class="mb-0 text-white-50"><br>愛犬のモコ。<br><br>写真は生後約３ヶ月。</p>
                <hr class="d-none d-lg-block mb-0 ml-0">
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Project Two Row -->
      <div class="row justify-content-center no-gutters">
        <div class="col-lg-6">
          
          
          
          
          <!--<img class="bike img-fluid" src="img/image0-1.jpeg" alt="">-->
          <div class="variable slider bike img-fluid">
            <div>
              <img src="./img/image0-1.jpeg">
              
            </div>
            <div>
              <img src="./img/image1-3.png">
            </div>
            <div> 
             <img src="./img/image2.png">
            </div>
    
          </div>
          
          
    
          
          
          
          
          
        </div>
        <div class="col-lg-6 order-lg-first">
          <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
              <div class="project-text w-100 my-auto text-center text-lg-right">
                <h4 class="text-white">My bike</h4>
                <p class="mb-0 text-white-50"><br>gsx250r<br><br>撮影場所は左から順に琵琶湖、暗がり峠、淡路島。</p>
                <hr class="d-none d-lg-block mb-0 mr-0">
              </div>
            </div>
          </div>
        </div>
      </div>
      
      
      <div id="skill" class="skill row align-items-center no-gutters mb-4 mb-lg-5">
        <div class="col-xl-4 col-lg-5">
          <div class="featured-text text-center text-lg-left">
            <h2>Skills</h2>
          </div>
        </div>
        <div class="col-xl-8 col-lg-7">
          <div class="icon"><div class="I"><i class="fab fa-html5"></i></div><p>HTML</p></div>
          <div class="icon"><div class="I"><i class="fab fa-css3-alt"></i></div><p>CSS</p></div>
          <div class="icon"><div class="I"><i class="fab fa-js"></i></div><p>JavaScript</p></div>
          <div class="icon"><div class="I"><i class="fab fa-bootstrap"></i></div><p>Bootstrap</p></div>
          <div class="icon"><div class="I"><i class="fab fa-vuejs"></i></div><p>Vue.js</p></div>
        </div>
      </div>
      
      <div id="services">
        <h2>Services</h2>
        <div class="service">
          <i class="fas fa-laptop-code"></i>
          <h3>HP作成</h3>
          <p>HTML,CSS,jqueryなどを用いて設計図を元に正確にサイトを作成します。</p>
        </div>
        <div class="service">
          <i class="fas fa-mobile-alt"></i>
          <h3>レスポンシブ対応</h3>
          <p>スマートフォン、タブレット、デスクトップ、様々な画面幅に対応させて頂きます。</p>
        </div>
      </div>
  
      <div id="works">
        <h2>Works</h2>
        <p>rgb(n, n, n)の形式で様々な色を作ることができます。<br>Vue.jsのリアルタイムで連動する性質を活かしています。</p>
        <div id="app" class="roe">
                   <div class="col">
                       <div class="form-group">
                           <label for="red">赤色の濃さ</label>
                           <div class="row">
                               <div class="col-8">
                                   <input type="range" id="red" class="form-control" min="0" max="255"
                                       v-model="colorRed">
                               </div>
                               <div class="col-4">
                                   <div class="input-group">
                                       <input type="text" class="form-control" v-model="colorRed">
                                   </div>
                               </div>
                           </div>
                       </div>
                       <div class="form-group">
                           <label for="green">緑色の濃さ</label>
                           <div class="row">
                               <div class="col-8">
                                   <input type="range" id="green" class="form-control" min="0" max="255"
                                       v-model="colorGreen">
                               </div>
                               <div class="col-4">
                                   <div class="input-group">
                                       <input type="text" class="form-control" v-model="colorGreen">
                                   </div>
                               </div>
                           </div>
                       </div>
                    <div class="form-group">
                           <label for="blue">青色の濃さ</label>
                           <div class="row">
                               <div class="col-8">
                                   <input type="range" id="blue" class="form-control" min="0" max="255"
                                       v-model="colorBlue">
                               </div>
                               <div class="col-4">
                                   <div class="input-group">
                                       <input type="text" class="form-control" v-model="colorBlue">
                                   </div>
                               </div>
                           </div>
                    </div>
                    <div class="form-group">
                           <label for="a">透明度</label>
                           <div class="row">
                               <div class="col-8">
                                   <input type="range" id="a" class="form-control" min="0" max="1" step="0.1"
                                       v-model="A">
                               </div>
                               <div class="col-4">
                                   <div class="input-group">
                                       <input type="text" class="form-control" v-model="A">
                                   </div>
                               </div>
                           </div>
                    </div>
                      <div class="fontColor">10進数: rgb( {{colorRed}} , {{colorGreen}} , {{colorBlue}} )</div>
                            <div class="fontColor">16進数: #{{toStringRed}}{{toStringGreen}}{{toStringBlue}}</div>
                   <div class="col d-flex justify-content-center align-items-center">
                           
                       
                       <div class="shadowEx border border-dark col" style="border-radius:10px;height:100px" :style="createStyle" >
                            
                       </div>
                       </div>
                       </div>
                       </div>
  
  
  
  

    </div>
  


  </section>
<div class="map">
      <h2>My college's location </h2>
      <div id="map"></div>
      </dev>
  

  <!-- Signup Section -->
  <section id="signup" class="signup-section" data-vide-bg="img/Night Sky - 31569">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-lg-8 mx-auto text-center">

          
          <h2 class="text-white mb-5">Contact</h2>
          <p class="contact">ご連絡は下記Twitterの<br>
          DMからお願いいたします。</p>
      <!--    <form class="form-inline d-flex">
            <input type="email" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="inputEmail" placeholder="Enter email address...">
            <button type="submit" class="btn btn-primary mx-auto">Subscribe</button>
          </form>  -->

        </div>
      </div>
    </div>
    </div>
  </section>

  <!-- Contact Section -->
  <section class="contact-section bg-black >
    <div class="container">

   <!--   <div class="row">

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-map-marked-alt text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Address</h4>
              <hr class="my-4">
              <div class="small text-black-50">4923 Market Street, Orlando FL</div>
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-envelope text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Email</h4>
              <hr class="my-4">
              <div class="small text-black-50">
                <a href="#">hello@yourdomain.com</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-mobile-alt text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Phone</h4>
              <hr class="my-4">
              <div class="small text-black-50">+1 (555) 902-8832</div>
            </div>
          </div>
        </div>
      </div>  -->

      <div class="social d-flex justify-content-center">
        <a href="https://twitter.com/ryoPOISSON250" class="mx-2">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="https://www.instagram.com/ryo_ichi7777/" class="mx-2">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="https://github.com/RyoichiFujisawa" class="mx-2">
          <i class="fab fa-github"></i>
        </a>
      </div>

    </div>
  </section>  
  
  <a href="#" class="back-to-top">↑</a>
  
  <!-- Footer -->
  <footer class="bg-black small text-center text-white-50" >
    <div class="container">
      Copyright &copy; Your Website 2019
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="js/grayscale.js"></script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDyurN4-rsdJduCqaGMl0wR-nOCbvOlGOY&callback=initMap"></script>
  
  
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script type="text/javascript" src="js/slick.min.js"></script>
  <script src="js/slick.js" type="text/javascript" charset="utf-8"></script>
  <script type="text/javascript">
    $(document).ready(function(){
      $('.slider').slick({
        autoplay: true, //自動再生
        
        dots:true,
      });
    });
  </script>
  
  <script src="js/jquery.vide.min.js"></script>
  
</body>

</html>

